body {
    text-align: center;
}

.jumbotron {
    background-image: url("../images/bp.jpg");
    background-repeat:no-repeat;
    background-color: white;
    font-family: 'Black Han Sans', sans-serif;
}