body {
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}

.jumbotron {
    background-image: url("../images/bp.jpg");
    background-repeat:no-repeat;
    background-color: white;
}

#container {
    background-color: black;
    color: white;
    border: 5px solid silver;
    margin: 50px;
    padding: 30px;

}